@media (prefers-color-scheme: light) {
  body {
    color: var(--color-black);
    background-color: var(--color-white);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

@layer base {
  body {
    font-size: 1rem;
    line-height: 1.375rem;

    @media (min-width: 1024px) {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}

#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS media query that uses the prefers-reduced-motion media feature.
/* This feature allows you to tailor your application's animations and
/* transitions based on the user's motion preferences, which are typically
/* set at the operating system level. */
@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}
