@media (prefers-color-scheme: light) { 
  body {
    color: #000000;
    background-color: #ffffff;
  }
}

@media (prefers-color-scheme: dark) { 
  body {
    font-family: var(--font-inter), Avenir, Helvetica, Arial;
    color: #FFFFFF;
    background-color: #000000;
  }
}

#root {
  width: 100vw;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* CSS media query that uses the prefers-reduced-motion media feature.
/* This feature allows you to tailor your application's animations and
/* transitions based on the user's motion preferences, which are typically
/* set at the operating system level. */
@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}
