@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.google.com/share?selection.family=Anton|Roboto:ital,wght@0,100..900;1,100..900');
@import "tailwindcss";

@theme {
  --font-inter: InterVariable, sans-serif;
  --font-roboto: Roboto, sans-serif;
  /* HER THEME */
  --color-my-light-brown-0: #BC8C73;
  --color-my-dark-brown-0: #652D10;
  --color-my-red-0: #C04738;
  --color-my-gray-0: #796D5B;
  --color-my-pink-0: #C35E6C;
  /* FANGORIA THEME */
  --color-powder-blue: #A7B4CE;
  --color-moonstone: #069FB9;
  --color-english-violet: #624D74;
  --color-black: #020609;
  --color-prussian-blue: #033951;
  --color-byzantium: #873272;
  /* Z-INDEXES */
  --z-index-gridCellHovered: 10;
  /* --drop-shadow-svg: drop-shadow-[0 0 2rem rgba(197, 213, 22, 0.35)] p-8; /* NOT WORKING */
}

:root {
  -webkit-font-smoothing: antialiased; /* For WebKit browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  text-rendering: optimizeLegibility; /* General optimization for legibility */
}
/* CSS media query that targets users who have set their system
/* or browser to use a "light" color scheme */
/* @media (prefers-color-scheme: light) { 
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
@config "../tailwind.config.ts";
