/* Shared with remote app */
@import url('https://rsms.me/inter/inter.css');
/* Google Font Roboto (weight 100-900, italic 0-1, width 100) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: InterVariable, sans-serif;
  --font-roboto: Roboto, sans-serif;
  /* FANGORIA THEME */
  --color-white: #f8edeb;
  --color-black: #020609;
  --color-powder-blue: #a7b4ce;
  --color-moonstone: #069fb9;
  --color-cerulean: #325877;
  --color-english-violet: #624d74;
  --color-prussian-blue: #033951;
  --color-byzantium: #873272;
  --color-violet: #4f47e6;
  /* LOGO COLORS */
  --color-tiktok-red: #fe2c55;
  /* Z-INDEXES */
  --z-index-gridCellHovered: 10;
  /* --drop-shadow-svg: drop-shadow-[0 0 2rem rgba(197, 213, 22, 0.35)] p-8; /* NOT WORKING */
  /* PAGE LAYOUT */
  --padding-w-page: 2rem;
  /* ANIMATIONS */
  --animate-indeterminate: indeterminate 1s linear infinite;
  @keyframes indeterminate {
    0% {
      transform: translateX(0) scaleX(0);
    }
    40% {
      transform: translateX(0) scaleX(0.4);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}

:root {
  -webkit-font-smoothing: antialiased; /* For WebKit browsers (e.g., Chrome, Safari) */
  -moz-osx-font-smoothing: grayscale; /* For Firefox on macOS */
  text-rendering: optimizeLegibility; /* General optimization for legibility */
}

@config "../tailwind.config.ts";
